<div id="easter_egg"></div>
<script>
    let random_code = [
        '5fhaJEaSahA', // 아마도? 첫영상
        'uqRtTb84fQw', // 2
        'GalKDv1-TrU', // 3
        'MLOvyLsYJvo', // 4
        '79QlahLrByg', // 5
        '3E9NXjKsRDM', // 6
        'Is3OJhPE-TY', // 7
        'Uvy-TPAxO0M', // 8
        'Ls7BjFHrqAo', // 9
        'Q5sKNZAqf9U', // 10
        '5YSwbHatjP0', // 11
        'evT2j9rixO0', // 12
        'x6hCDpgmZtI', // 13
        'K7auceEvNkU', // 14
        'bt8NpX7bgtg', // 15
        '9-rRSE7hsAc', // 16
        'SSsEk4rPm5k', // 17
        'sZTsxALGAt0', // 18
        'w4GTDyVoB4c', // 19
        'wCX5iunQjec', // 21
        'sF3GsHTfbXw', // 22
        'w9rTnA30jIk', // 23
        '58_cKWeuZFw', // 24
        'Zk9xc3VeY0k', // 25
        'ze5IFdSSdl0', // 26
        'AGo4xJ4ForA', // 27
        'RZlVGb7SQS8', // 28
        'juvVkC7DuZM', // 29
        '9cqWY08IQIs', // 30
        'd8ZX-bHE-n0', // 31
        'WMngDuIRIzQ', // 32
        '5kT-zl0RMh4', // 33
        'iv3mNZhljEg', // 34
        'vVmClG_ifd8', // 35
        '1ublUgTv4Gg', // 36
        'gnShjQ24PEo', // 37
        'oIAflL17_aI', // 38
        'EN5l32cogUs', // 39
        'woQlO3urZCo', // 40
        'Mje6K-sEV4I', // 41
        'DEPFMWahZTY', // 42
        'NhLmC2omcFI', // 43
        'vz2DR17Y6pw', // 44
        'pyUYdRJ2rmY', // 45
        'G5ze-o5OTDo', // 46
        'SQaqnGSMyFY', // 47
        'C7JL9BzQqRA', // 48
        'aWkHKhtMJqY', // 49
        '_t9fp6clwfQ', // 50
        '58wOxEKHo_g', // 51    
        'Bcz36b4JH2g', // 52
        '5A13UznHY3U', // 53
        'p23htNcmI2U', // 54
        '1SuLnBBd47U', // 55
        '9xWZOqVs-uc', // 56
        'QgmV-edqPUM', // 57
        'YpNfZ8USjsE', // 58
        'YpNfZ8USjsE', // 59
        'YpNfZ8USjsE', // 60


    ];
    let get_num = location.search.replace(/[^0-9]+/g, '');
    if(get_num !== '' && Number(get_num) < random_code.length) {
        get_num = Number(get_num);
    } else {
        get_num = Math.floor(Math.random() * random_code.length);
    }

    let add_link = '';
    for(let i = 0; i < random_code.length; i++) {
        add_link += '<a href="?select=' + String(i) + '">(' + String(i) + ')</a> ';
    }

    document.getElementById('easter_egg').innerHTML = '' +
        add_link +
        '<hr class="main_hr">' +
        '<iframe     style="width: 560px; height: 315px;" ' +
                    'src="https://www.youtube.com/embed/' + random_code[get_num] + '" allowfullscreen></iframe>' +
        '';
</script>